/* external style */
/* change the font-family and the font size of all elements using the universal selector */
*{
    font-family: 'Roboto',sans-serif;
    font-size: large;
}

#p3{
    color:goldenrod;
}
/* change the font-size of h1 tags using type  */
h1{
    font-size: 40px;
}
/* Change the text to all uppercase letters for h2 tags using an id selector. */
#header2{
    text-transform: uppercase;
}
/* Change the background colors of the languages to be learn list items using a 
class selectors. */
.language-to-learn{
    background-color: aqua;
}

/* Change the border of the tools to be used list items using a attribute selectors. */
li[data-tools]{
    border: 1px solid blue;
}
/* Change the list style type of the other things to be learned list using an 
adjacent sibling selector */
h4 + ul{
    list-style-type: none;
}
/* Change the dimensions of the image tag using a descendant selector. */
.list-item-to-learn img {
    height:120px;
    border-radius: 60px;
}
/* Change the alignment of the last paragraph using a generic sibling 
selector. */
#things-to-learn ~ p{
    text-align: center;
}
/* Change the letter spacing of the other things to be learned list items
using a child selector. */
body > main > section > div > ul > li  {
    letter-spacing: 10px;
}