/* * {
    color:violet;
} */
/* #heading {
    color: rgb(255, 192, 203);
} */


#list_of_songs li {
    color: red;
}

body > section > form > label {
    color: blue;
}

/* //attribute selector */
input[required] {
    border-color: blue;
    width: 90%;
}